
@using DiethelmTSWebsite2015.Core
@using DiethelmTSWebsite2015.Biz
@using DiethelmTSWebsite2015.Models;
@model DiethelmTSWebsite2015.Models.SysPost
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";

    DiethelmTSWebsite2015.Core.Utility.ReloadRouteData();
    DTTDBContext db = DataManager.DB;
    object obj = Request.RequestContext.RouteData.Values["country"];
    string country = obj == null ? string.Empty : obj.ToString();
    CountryCollection list = new CountryCollection();
    var countryList = list.ToList();
    byte countryID = Utility.GetCurrentCountryID();
    string countryname = Utility.GetCurrentCountryName();

}
<div class="row ">
    <div class="small-12 columns post-breadcumb">
        <a onclick="history.back();" class="right">< Back</a>
    </div>
</div>

<div class="row step-title">
    <div class="small-12 medium-5 columns">
        <h3 class="step-title-label">Driving Distance  &bull;  <font id="country-header">@countryname</font></h3>
    </div>
    <div class="medium-7 columns list-heading-right hide-for-small">
    </div>
</div>

<div class="row ">
    <div class="small-12 columns country-header-cover"> </div>
    <div class="small-12 columns country-image-cover"> <img src="/Images/@countryname-Headercover.jpg" id="img-cover" width="100%"> </div>
</div>

    <div class="row margin-top15">
        <div class="small-12 medium-12 columns content-detail">
			<div class="row content-just-text">
				<div class="small-12 columns">
					<h5 >@Model.Title</h5>
				</div>
				<div class="small-12  columns">
					<span class="content-data">@Html.Raw(Model.Description) </span>
				</div>
			</div>
        </div>
    </div>
