@model List<DiethelmTSWebsite2015.Models.ExcursionSearchResult>

@{
    Layout = null;
}

@using (Html.BeginForm("Detail", "Excursion", FormMethod.Post, new { id = "frmDetail" }))
{
        <div class="small-12 columns search-result-area">
            <div class="row">
                @if((Model != null) && (Model.Count() > 0))
                {
                    foreach (var item in Model)
                    {
                        @Html.DisplayFor(modelItem => item, "ExcursionSearchItem")
                    }
                }
                else
                {
                //TODO:
                }
            </div>
        </div>
    <script>
        function GotoDetail(excursionID) {

            $("#ExcursionID").val(excursionID);
            $("#frmDetail").submit();

            @*$.ajax({
url: '@Url.Action("Detail", "Package")',
type: 'POST',
data: {PACKAGE_ID: packageID , PACKAGE_CODE: packageCode},
success: function (data) {

}
});*@
        }
    </script>
    }
