@using DiethelmTSWebsite2015.Core

@model DiethelmTSWebsite2015.Models.SysPost
@{
    ViewBag.Title = "Diethelm Travel";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
@section banner
{
    @{  Html.RenderAction("ShowBanner", "SysBanner",  new { country = Utility.GetCurrentCountryName() });  }
}
<div class="page-title">
    @{ Html.RenderAction("PageLabel", "PostExtension", new { country = Utility.GetCurrentCountryName(), categoryId = ViewBag.cateId, postId = 0 }); }
</div>
<div class="row">
    <div class="small-12 columns post-breadcumb">
        <a onclick="history.back();" class="right">< Back</a>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        @{ Html.RenderAction("DestinationList", "CategoryExtension", new { country = Utility.GetCurrentCountryName()}); }
    </div>
</div>
