@{
    ViewBag.Title = "PaymentSuccess";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<h2>PaymentSuccess</h2>

decision : @ViewBag.decision <br/>
req_reference_number : @ViewBag.req_reference_number <br/>
req_profile_id : @ViewBag.req_profile_id <br/>