@model IList<DiethelmTSWebsite2015.Models.HotelSearchResult>
@{
    Layout = null;
    string strDisplay = "display:none;";
    if (Model != null && Model.Count > 0)
    {
        strDisplay = "";
    }
    int i = 0;

}
@using (Html.BeginForm("Detail", "Hotel", FormMethod.Post, new { id = "frmDetail" }))
{
    <input type="hidden" id="ServiceID" name="ServiceID" />
    <input type="hidden" id="IsLandingPage" name="IsLandingPage" value="true" />

<div id="Preferred" style="@strDisplay" >
    <div class="row">
        <div class="small-12 medium-12 columns">
            <h4 class="content-subject">Diethelm Preferred Choice</h4>
        </div>
        <div class="small-12 medium-12 columns content-detail">
            @foreach (var item in Model)
            {
                @Html.DisplayFor(modelItem => item, "ContentHorizontalSmallWithPriceAndRating");
                i++;
                if (i >= 4)
                {
                    break;
                }
            }
        </div>
    </div>
</div>
}