@model IList<DiethelmTSWebsite2015.Models.HotelSearchResult>
@{
    Layout = null;
    string strDisplay = "display:none;";
    if (Model != null && Model.Count > 0)
    {
        strDisplay = "";
    }
    int i = 0;

}
@using (Html.BeginForm("Detail", "Hotel", FormMethod.Post, new { id = "frmDetail" }))
{
    <input type="hidden" id="ServiceID" name="ServiceID" />
    <input type="hidden" id="IsLandingPage" name="IsLandingPage" value="true" />
    
<div id="PreferredLanding" style="@strDisplay" >
    <div class="small-12 medium-12 columns">
        <h3 class="content-subject">Diethelm Preferred Choices</h3>
    </div>
    @if(Model != null)
    {
        foreach (var item in Model)
        {
            @Html.DisplayFor(modelItem => item, "HotelItemLarge");
            i++;
            if (i == 4)
            {
                break;
            }
        }
    }
</div>
}