@using DiethelmTSWebsite2015.Core;
@model DiethelmTSWebsite2015.Models.SysPost


<div class="row content-just-text">
    <div class="small-12 columns">
        <h5 >@Model.Title</h5>
    </div>
    <div class="small-12  columns">
        <span class="content-data">@Html.Raw(Model.Description) </span>
    </div>
</div>