@using DiethelmTSWebsite2015.Biz;
@model IList<DiethelmTSWebsite2015.Models.SysCategory>
@{
    Layout = null;
    SysCategoryBiz biz = new SysCategoryBiz();
}



<div class="row">
    <br>
    @foreach (var item in Model)
    {
        <div class="small-12 medium-4 columns margin-bottom-15">
            <a href="@item.Link" data-reveal-id="LoginBox" class="login"><img src="/Images/@item.Image" /> @item.Title </a>
        </div>
    }
</div>


