@model IList<DiethelmTSWebsite2015.Models.PackageSearchResult>
@{
    Layout = null;
    string strDisplay = "display:none;";
    if (Model != null && Model.Count > 0)
    {
        strDisplay = "";
    }
    int i = 0;
}
    
<div id="BestSellerLanding" style="@strDisplay" >
    <div class="small-12 medium-12 columns">
        <h3 class="content-subject">Best Sellers</h3>
    </div>
    @foreach (var item in Model)
    {
        @Html.DisplayFor(modelItem => item, "PackageItemSmall");
        i++;
        if (i == 4)
        {
            break;
        }
    }
</div>